@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);
@import url(anim.css);
@import url(bg.css);

:root {
    --color1: #6b6969;
    --color2: #05dfba;
    --color3: #e6da97;
}

* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: white;
}

center {
    position: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url();
    background-color: black;
}

h1 {
    font-size: 40px;
    margin: 20px;
    animation: fade-in 1s ease-in;
}

.input {
    width: 100%;
    padding: 10px;
    height: 20px;
    width: 8vw;
    height: 3vh;
    border-radius: 6px;
    border-style: none;
}

.input_custom {
    width: 100%;
    padding: 10px;
    height: 20px;
}

.submit {
    cursor: pointer;
    background-color: var(--color2);
    width: 8vw;
    height: 3vh;
    border-radius: 6px;
    border-style: none;
}

.alert {
    z-index: 100;
    position: relative;
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    background-color: rgba(211, 47, 47, 1);
}

.success {
    position: relative;
    font-size: 14px;
    color: #000;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--color1);
    background-color: var(--color2);
    text-decoration: underline;
    animation: fade-in 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.success a {
    color: var(--color1);
}

#cinput {
    opacity: 60%;
    padding: 0;
    width: 12%;
    background-color: transparent;
    border: none;
    animation: breathe infinite 10s linear;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: auto;
    width: 50%;
}

.section * {
    color: var(--color1);
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float: left;
    margin: 1% 0 1% 0;
}

.col:first-child {
    margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
    width: 100%;
}

.span_2_of_3 {
    width: 20%;
    margin-left: 20px;

}

.span_1_of_3 {
    width: 70%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
    .col {
        margin: 1% 0 1% 0%;
    }

    .span_3_of_3, .span_2_of_3, .span_1_of_3 {
        width: 100%;
    }
}
